$white: #ffffff;
$yellow: #f1e88e;
$lightpink: #ffbbdd;
$peach: #e47272;
$darkpurple: #1f113f;
$darkmagenta: #6f058c;
$darkyellow: #e2bc3a;

//Header Font font-family: 'Righteous', cursive;
//Normal Text Font font-family: 'Roboto', sans-serif;

body {
   margin: 0 auto;
   padding: 0 auto;

   h2 h3 h4 h5 h6 {
      padding: 0;
      margin: 0;
   }
}

#main-h1 {
   font-size: 70px;
   text-transform: uppercase;
   text-align: center;
   font-family: "Righteous", cursive;
   font-weight: 400;
   background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(10%, $yellow),
      color-stop(50%, $lightpink),
      color-stop(60%, $peach)
   );
   background: linear-gradient(to right, $yellow 10%, $lightpink 50%, $peach 60%);
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   background-clip: text;
   color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-animation: textclip 1.5s linear infinite;
   animation: textclip 1.5s linear infinite;
   @keyframes textclip {
      to {
         background-position: 200% center;
      }
   }
   margin: 0.7em auto;
}

#nav-bar {
   font-family: "Righteous", cursive;
   background: url("https://preview.redd.it/a3ftzqi7ide71.png?auto=webp&s=7cc4389f7b7d621216c70cc9f1d43e57f76e3d0d")
      no-repeat center;
   background-size: cover;
   width: 100vmax;
   height: 15vmax;
   display: inline-block;
   flex-direction: column;
   justify-content: center;

   #nav-list {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      position: relative;

      #sub-nav {
         display: none;
         overflow: hidden;
      }

      #dogs:hover #sub-nav {
         display: inline-block;
         position: absolute;

         .nav-link {
            text-align: left;
            text-decoration: none;
         }
      }
   }

   .nav-link {
      list-style-type: none;
      font-size: 2rem;

      a {
         text-decoration: none;
         color: $white;
         transition: border-color 0.3s, color 0.3s, transform 0.3s;
         font-weight: 900;
      }
      a:hover {
         color: $lightpink;
      }
   }
}

body {
   background-color: $darkpurple;
}

main {
   width: 70%;
   font-family: "Roboto", sans-serif;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   margin: 3vmax auto;

}

#welcome {
   font-size: 100%;
   color: $white;
}